{% extends "Base.html" %}

{% block content %}




<div class="container-3">
    <div class="container-3">
        <h2 class="rgb-letters" style="font-size: 100%; color: sandybrown; text-align: center;">Novedades</h2>
    </div>
    <p id="texto-2"></p>
    <div class="novedades">
        
        <h2 style="text-align: center; color: rgb(129, 212, 13); margin-top: 1%; ">Llega Delta Shop</h2>
        <p style="margin-top:2% ;">Estamos de apertura! Tenemos los mejores precios para tí</p>
        <p style="color: rgb(76, 221, 151) ;">Actualmente vendemos Bots de discord personalizados, webs y servidores preconfigurados para minecraft</p>
        <p style="color: yellow;">Fecha</p>
        <div style="text-align: center; margin-top: 3%; ">
            <video controls height="80%" width="80%" class="border-rgb"> <source src="/static/1661861647-medaltvfivem20220830113808-tr-edit.mp4" type="video/mp4"></video>
        </div>
    </div>

</div>




<style>
.border-rgb{
    border: 3px solid rgb(40, 228, 222);
    animation: border-rgb;
    animation-duration: 7s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.novedades{
    background-color: rgb(0, 0, 0);
    border: 3px solid rgb(40, 228, 222);
    background-image: url(/static/outerspace-58.gif);
    background-position: center;
    text-align: center;

}
.container-3{
    background: #2a2828;
    font-weight: bold; 
    padding: 15px; 
    border-top-left-radius:8px;
    border-bottom-left-radius:8px; 
    color: white;
    margin-top: 3%;
    margin-right: 25%;
    margin-left: 25%;
    animation: border-rgb;
    animation-duration: 7s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#logo{
    
    height: calc(100% - XXpx); 

    float: right;
    margin-top: -200px;
}
#texto-2{
    margin-top: 3%;
    margin-right: 5%;
}
#color-naranja{
    color: orange;
}
.color-cian{
    color: aqua;
}
 
@keyframes border-rgb{
    0%{
        border-left:8px solid #c226cd; 
}
    25%{
        border-left:8px solid rgb(81, 236, 38); 
}
    50%{
        border-left:8px solid rgb(92, 169, 155);  
}
    75%{
        border-left:8px solid violet;
}
    100%{
        border-left: 8px solid red;
}
    
}
@keyframes rgb{
0%{
    color: aqua;
}
25%{
    color: rgb(81, 236, 38); 
}
50%{
    color: rgb(92, 169, 155);
}
75%{
    color:violet;
}
100%{
    color: rgb(205, 76, 76);
}
}
@keyframes border-rgb{
0%{
    border: 3px solid orange;
}
25%{
    border: 3px solid  blue;
}
50%{
    border: 3px solid rgb(92, 169, 155);
}
75%{
    border: 3px solid violet;

}
100%{
    border: 3px solid rgb(205, 76, 76);
}

}

</style>
{% endblock %}

